<div class="row">
  <div class="col-sm-12">
    <h5 class="mb-3">
      <a href="nuevoempleado" class="btn btn-outline-dark">Nuevo Empleado</a>
    </h5>
    <div class="card tbl-card">
      <div class="table-responsive">
        <table class="table table-hover mb-0">
          <thead>
            <tr>
              <th>#</th>
              <th>Nombre</th>
              <th>Apellido</th>
              <th>Email</th>
              <th>Posición</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let empleado of listaEmpleados; let i = index">
              <td>{{ i + 1 }}</td>
              <td>{{ empleado.nombre }}</td>
              <td>{{ empleado.apellido }}</td>
              <td>{{ empleado.email }}</td>
              <td>{{ empleado.posicion }}</td>
              <td>
                <button type="button" class="btn btn-outline-success" [routerLink]="['/editarempleado/', empleado.empleado_id]">
                  Editar
                </button>
                <button (click)="eliminar(empleado.empleado_id)" type="button" class="btn btn-outline-danger">Eliminar</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
